
.clock {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.637);
    justify-content: center;
    position: relative;
}
.clock > .time {
    width: 50%;
}

.clock > .time > .value {
    font-size: 60px;
    font-weight: bold;
}

.clock > .time > .label {
    font-size: 14px;
    text-transform: uppercase;
    word-spacing: 5px;
}

@media (max-width: 650px) {
    .clock > .time {
        width: 50%
    }
}