.sub-input {
    width: 100%;
    padding: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.637);
    background: local;
}

.sub-input::placeholder {
    color: rgba(255, 255, 255, 0.637);
}