.rocket-light {
    width: 8em;
    height: 13em;
    font-size: 3px;
    margin-top: 0;
    border-radius: 4em;
    position: relative;
    margin-top: -20px;
    
}

.rocket-light::before {
    content: '';
    display: block;
    width: 2.5em;
    height: 3.6em;
    position: absolute;
    background-color: rgb(250,219,149);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5em;
    animation-name: scroll;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    gap: 0;
}
@keyframes scroll {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(-50%, 500%);
        opacity: 0; 
    }
}