.up-container {
   padding-top: 70px;
   padding-bottom: 70px;
}

.long-row {
    width: 1000px;
    margin-left: calc(50% - 500px);
}

.short-block {
    width: 600px;
    margin-left: calc(50% - 300px);
}

/* .m-container {
    min-height: 40vh;
    padding-bottom: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
} */