.up-container {
   padding-top: 70px;
   padding-bottom: 70px;
}

.long-row {
    width: 1000px;
    margin-left: calc(50% - 500px);
}

.short-block {
    width: 600px;
    margin-left: calc(50% - 300px);
    
}

/* .m-container {
    min-height: 40vh;
    padding-bottom: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
} */

.d-container, .contact-me, .bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: rgba(255, 255, 255, 0.823);
    
}
.contact-me {
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-btm {
    width: 45%;
    text-align: center;
    padding: 0.5em 0.8em;
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.637);
    font-size: 20px;
    line-height: 1em;
    background-color: #923d1b80;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    user-select: none; 
    
}

.dugnas {
    margin-top: 40px;
}

.footer-link {
    color:  rgba(255, 255, 255, 0.637);
}

footer > .d-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
}